.main__map__popup(class="main__map__popup--{{ center.type | lowercase }}")
  h4.main__map__popup__title
    i.fa.fa-fw.fa-dot-circle-o.main__map__popup__title__icon(ng-show="center.type == 'CTE'")
    i.fa.fa-fw.fa-circle.main__map__popup__title__icon(ng-show="center.type == 'support'")
    | {{ center.display_name }}
    .main__map__popup__title__today
      | {{ today | date:('date_format' | translate) }}
  .main__map__popup__body(ng-hide="center.type == 'support'")
    p
      {{ 'staff_count' | translate }} <strong>{{ center.staff_count }}</strong><br />
      {{ 'weekly_new_admissions' | translate }} <strong>{{ center.weekly_new_admissions }}</strong>
