.menu
  a.menu__logo(tile="Médecins Sans Frontières")
  .menu__headline
    | 1 year of MSF actions against Ebola
  ul.menu__links.list-unstyled
    li
      a About
    li
      a Support
    li
      a Language
  ul.menu__social.list-inline.text-center
    li
      a 
        i.fa.fa-fw.fa-twitter      
        span.sr-only Twitter      
    li
      a 
        i.fa.fa-fw.fa-facebook
        span.sr-only Facebook
    li
      a 
        i.fa.fa-fw.fa-google-plus
        span.sr-only Google+
  a.menu__credits(href="http://jplusplus.org", target="_blank")
    img(src="http://logo-js.herokuapp.com/jpp/white/e5725e/", height="20")
    | &nbsp;
    | By Journalism++
