.menu-toggler {
  z-index:@zindex-menu-toggler;
  position:fixed;
  left:0;
  top:15px;
  height:45px;
  width:50px;
  text-align:center;
  line-height:45px;
  font-size:30px;
  color:@menu-bg;
  .translate(-100%, 0);
  .transition(0.7s);

  &--active, &--active:hover {
    color:white;
  }

  @media (max-width: @screen-sm-max) {
    .translate(0, 0);

    &--disable {
      .translate(-100%, 0);
    }
  }
}

.menu {
  z-index:@zindex-menu;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:@menu-width;
  background: @menu-bg;
  overflow:auto;
  .transition(0.7s);

  &--disable {
    .translate(-100%, 0);
  }

  @media (max-width: @screen-sm-max) {
    &--collapse {
      .translate(-100%, 0);
    }

    html body  &__app-title {
      padding-left:40px;
      font-size:1em;
    }
  }


  &, a {
    color:white;
  }

  &__app-title {
    font-size:1.2em;
    text-align:center;
    font-weight: bold;
    background:lighten(@menu-bg, 10);
    margin:0;
    padding:15px 10px;
  }

  &__logo {
    margin:20px auto;
    background: url("../assets/images/msf-logo.png") no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 150px * 0.427885px;
    display:block;
  }

  &__headline {
    font-style:italic;
    padding:10px;
    font-size:1em;
    text-align:center;
    font-weight:100;
    line-height:1em;
  }

  &__links {
    border-top:1px solid mix(@menu-bg, white, 90);
  }

  &__links, &__languages {
    margin-bottom:0;

    li > a {
      position:relative;
      font-weight:bold;
      display:block;
      text-align:center;
      text-transform:uppercase;
      padding:10px;
      color:white;
      font-size:0.85em;
      border-bottom:1px solid mix(@menu-bg, white, 90);

      &:hover, &:active {
        background:white;
        color:@menu-bg;
        text-decoration:none;
      }
    }

    &__icon {
      position:absolute;
      right:10px;
      top:50%;
      .translate(0, -50%);
    }
  }

  &__languages {
    margin-top:0;
    background: darken(@menu-bg, 10);
    max-height: 200px;
    overflow:auto;
    .box-shadow(0 0 10px 0 darken(@menu-bg, 20) inset);

    li > a {
      font-size:0.9em;
      font-weight:normal;
      border-bottom:0;
    }

    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active {
      .transition(0.6s);
    }

    &.ng-hide {
      max-height:0;
    }
  }

  &__social {
    height:40px;
    line-height:40px;
    border-bottom:1px solid mix(@menu-bg, white, 90);
  }

  &__credits {
    font-size:0.8em;
    position:absolute;
    bottom:10px;
    text-align:center;
    width:100%;
    text-transform:uppercase;
    color: white;


    @media (max-height: 660px) {
      display:block;
      position:static;
    }
  }
}
