div(ng-controller="MenuCtrl")
  a.menu-toggler(ng-click="visibleMenu = !visibleMenu", ng-class="{'menu-toggler--active': visibleMenu }")
    i.fa.fa-bars
  .menu(ng-class="{'menu--collapse': !visibleMenu, 'menu--disable': isAnimating}")
    ul.menu__links.list-unstyled
      li
        a(ui-sref="about") {{ 'about' | translate }}
      li
        a(ng-click="share()") {{ 'share' | translate }}
      li
        a(ng-click="showLanguages = !showLanguages")
          i.caret.menu__links__icon
          | {{ 'language' | translate }}
    ul.menu__languages.list-unstyled(ng-show="showLanguages")
      li(ng-repeat="lang in languages track by $index")
        a(ng-click="useLanguage(lang)") {{ lang + '_display' | translate }}

    ul.menu__social.list-inline.text-center
      li
        a
          i.fa.fa-fw.fa-twitter
          span.sr-only Twitter
      li
        a
          i.fa.fa-fw.fa-facebook
          span.sr-only Facebook
      li
        a
          i.fa.fa-fw.fa-google-plus
          span.sr-only Google+

    a.menu__logo(tile="Médecins Sans Frontières", ui-sref="main({ skip: '1' })")

    .menu__headline
      |  {{ 'msf_headline' | translate }}

    a.menu__credits(href="http://jplusplus.org", target="_blank")
      img(src="http://logo-js.herokuapp.com/jpp/white/4A3B3C/", height="20")
      | &nbsp;
      | {{ 'by_jpp' | translate }}


