.about
  a.btn.btn-primary.btn-sm(ui-sref="main({skip: 1})")
    i.fa.fa-arrow-left
    | &nbsp; {{ 'back_to_map' | translate }}
  h2.about__title
    {{ 'about_title' | translate }}
  article.about__body(btf-markdown="'about_body' | translate")
