.main {
  position:relative;
  padding-bottom:500px;
  background:white;
  margin-left:@menu-width;

  &__chart {
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    height:45px;
    border:white 2px solid;
    overflow:hidden;
    white-space:nowrap;
    overflow:hidden;

    &__stack {
      margin:0;
      padding:0 10px;
      display:inline-block;
      height:45px;
      float:left;
      background:fade(white, 40);
      color:white;
      font-weight:bold;
      white-space:nowrap;
      position:relative;

      &--dead {
        background:black;
      }

      &--cured {
        background:#069E77;
      }

      &--msf-cured {
        background:#00e3a6;
        color:#0A2E2C;
      }

      &__label {
        font-size:10px;
        position:absolute;
        top:5px;
        left:5px;
      }

      &__figure {
        position:absolute;
        bottom:5px;
        left:5px;
        font-size:16px;
      }
    }
  }

  &__map {
    background:#CCD1D3;
    height:500px;
    position:relative;
    border-bottom:3px solid mix(black, white);
    margin-bottom:-3px;
  }

  &__timeline {
    height:3px;
    background:black;
    position:relative;
    max-width:100%;
    margin:auto;

    &__cursor {
      position:absolute;
      left:0;
      height:100%;
      background: @brand-primary;

      &:after {
        content:attr(data-day);
        font-weight:bold;
        color:white;
        text-align:center;
        position:absolute;
        right:0;
        top:50%;
        .translate(20px, -50%);
        width:40px;
        height:40px;
        line-height:40px;
        font-size:1.4em;
        background:inherit;
        border-radius:40px/2px;
      }

      &:before {
        content:attr(data-month);
        position:absolute;
        bottom:100%;
        right:0;
        color: @brand-primary;
        font-weight:bold;
        text-transform:uppercase;
        width: 200px;
        text-align:center;
        .translate(50%, -20px);
      }
    }
  }

  &__weeks {
    margin:auto;
    margin-top:2px;
    height:5px;
    white-space:nowrap;
    max-width:100%;

    &__slot {
      width:100%/52%;
      height: 5px;
      display:inline-block;
      float:left;

      &__victim {
        width:90%;
        height:3px;
        margin:0 5%;
        margin-bottom:2px;
        background:black;
      }
    }
  }
}
