.main {
  @chart-height: 45px + (15px*2px);

  z-index:@zindex-main;
  position:relative;
  padding-bottom:500px;
  background:white;
  margin-left:@menu-width;
  overflow:hidden;
  .transition(0.7s);

  @media (max-width: @screen-sm-max) {
    margin-left:0;
  }

  &__chart {
    z-index:@zindex-main + 10;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:@chart-height;
    border:fade(white, 70) 15px  solid;
    overflow:hidden;
    white-space:nowrap;
    display:table;
    .transition(0.7s);

    @media (max-width: @screen-sm-max) {
      border-left-width:50px;
    }

    &__stack {
      margin:0;
      padding:0 10px;
      display:inline-block;
      height:45px;
      background:fade(white, 40);
      color:white;
      font-weight:bold;
      white-space:nowrap;
      position:relative;
      display:table-cell;
      .transition(0.3s);

      &--dead {
        background:black;
      }

      &--case {
        background:#AAA;
      }

      &--msf-cured {
        background:#00e3a6;
        color:#0A2E2C;
      }

      &__label {
        font-size:10px;
        position:absolute;
        top:5px;
        left:5px;
      }

      &__figure {
        position:absolute;
        bottom:5px;
        left:5px;
        font-size:16px;
      }
    }
  }

  &__highlights {
    z-index:@zindex-main + 5;
    position:absolute;
    top:@chart-height;
    right:0;
    left:0;
    display:block;

    &__item {
      font-size:25px;
      text-align:center;
      position:absolute;
      top:0;
      left:0;
      height: 400px - @chart-height - 3px;
      width:100%;
      padding:0 40px;
      display:block;
      background:fade(white, 70%);

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove.ng-hide-remove-active {
        .transition(0.7s);
      }

      &.ng-hide {
        filter: blur(50px);
        opacity:0;
      }

      &__wrapper {
        position:absolute;
        top:50%;
        left:50%;
        .translate(-50%, -50%);
        max-width:660px;
      }
    }
  }

  &__map {
    z-index:@zindex-main - 10;
    background:#CCD1D3;
    height:400px;
    position:relative;
    border-bottom:3px solid mix(black, white);
    margin-bottom:-3px;

    &__center {
      line-height:30px;
      text-align:center;
      color:@brand-success;
      font-size:1.4em;
      white-space:nowrap;
      text-shadow:0 1px 1px fade(black, 50);

      &--ltr,
      &__wrapper[data-name='Foya - Liberia'],
      &__wrapper[data-name='Gueckedou - Guinea'] {
        .main__map__center__staff,
        .main__map__center__admitted {
          left:50%;
          right:auto;
          .translate(0.7em, -50%);
        }
      }

      &__wrapper[data-name='Foya - Liberia'] {
        .main__map__center__staff { margin-top:0; }
        .main__map__center__admitted { margin-top:1.2em; }
      }

      &__wrapper[data-name='Gueckedou - Guinea'] {
        .main__map__center__staff { margin-top:-1.2em; }
        .main__map__center__admitted { margin-top:0; }
      }

      &__staff,
      &__admitted {
        position:absolute;
        right:50%;
        top:50%;
        .translate(-0.7em, -50%);
        font-size:0.9em;
      }

      &__staff {
        margin-top:-0.6em;
        color: inherit;
      }

      &__admitted {
        margin-top:0.6em;
        color: @brand-primary;
      }
    }
  }

  &__legend {
    z-index:@zindex-main;
    position:absolute;
    top:400px;
    padding:20px;
    .translate(0, -100%);

    &__item {
      font-weight:bold;
    }
  }

  &__timeline {
    z-index:@zindex-main + 10;
    height:3px;
    background:black;
    position:relative;
    max-width:100%;
    margin:0 20px;

    &__anchor {
      font-weight:bold;
      color:white;
      text-align:center;
      position:absolute;
      left:0;
      top:50%;
      .translate(-50%, -50%);
      width:40px;
      height:40px;
      line-height:40px;
      font-size:1.4em;
      background: @brand-primary;
      border-radius:40px/2px;

      &:before {
        content:attr(data-month);
        position:absolute;
        bottom:100%;
        left:50%;
        color: @brand-primary;
        font-weight:bold;
        text-transform:uppercase;
        width: 200px;
        font-size: 0.6em;
        text-align:center;
        .translate(-50%, 10px);
      }
    }

    &__cursor {
      position:absolute;
      left:0;
      height:100%;
      background: @brand-primary;
    }
  }

  &__weeks {
    margin:0 20px;
    margin-top:2px;
    display:table;
    vertical-align:top;
    width:~"calc(100% - 40px)";

    &__slot {
      vertical-align:top;
      width:auto;
      display:table-cell;

      &__victim {
        float:left;
        opacity:0;
        width:20%;
        height:3px;
        margin:0;
        margin-right:5%;
        margin-bottom:2px;
        background:black;
        display:inline-block;
      }
    }
  }
}
