.main(ng-model="progress", ng-class="{ 'main--animating': isAnimating }")
  leaflet.main__map(center='settings.center', markers="centers", tiles="settings.tiles", maxbounds="settings.maxbounds", defaults="settings.defaults")
  .main__legend
    ul.list-unstyled
      li.main__legend__item
        i.fa.fa-fw.fa-dot-circle-o.text-success
        | &nbsp; {{ 'center' | translate }}
      li.main__legend__item
        i.fa.fa-fw.fa-circle.text-success
        | &nbsp; {{ 'administrative_center' | translate }}
      li.main__legend__item.main__legend__item--staff
        i.fa.fa-fw.fa-male.text-success
        | &nbsp; {{ 'five_staff' | translate }}
      li.main__legend__item
        i.fa.fa-fw.fa-male.text-primary
        | &nbsp; {{ 'five_admitted' | translate }}

  .main__highlights
    .main__highlights__item(ng-repeat="highlight in highlights", ng-show="highlightFilter(highlight)")
      .main__highlights__item__wrapper
        div(ng-bind-html="highlight.translation_key | translate")
    .main__highlights__item(ng-show="displayFinalHighlight")
      .main__highlights__item__wrapper
        div(ng-bind-html="'final_highlight' | translate")
        .text-center
          a.introduction__step__next(ng-click="displayFinalHighlight = false")
            i.fa.fa-arrow-circle-right.fa-2x

  .main__chart
    .main__chart__stack.main__chart__stack--dead(ng-style="figureStyle(day.regional_data.death_total)")
      span.main__chart__stack__figure
        {{ "dead" | translate: { death_total: (day.regional_data.death_total | decade) } }}
    .main__chart__stack.main__chart__stack--case(ng-style="figureStyle(day.regional_data.cases_total)")
      span.main__chart__stack__figure
        {{ "cases" | translate: { cases_total: (day.regional_data.cases_total | decade) } }}
    .main__chart__stack.main__chart__stack--msf-admitted(ng-style="figureStyle(day.regional_data.admitted_msf_cumulative)")
      span.main__chart__stack__figure
        {{ "admitted_by_msf" | translate: { admitted_msf_cumulative: (day.regional_data.admitted_msf_cumulative  | decade) } }}
    .main__chart__stack.main__chart__stack--msf-cured(ng-style="figureStyle(day.regional_data.recovered_msf_cumulative)", ng-show="day.regional_data.recovered_msf_cumulative")
      span.main__chart__stack__figure
        {{ "cured_by_msf" | translate: { recovered_msf_cumulative: (day.regional_data.recovered_msf_cumulative | decade) } }}

  .main__timeline
    .main__timeline__cursor(ng-style="{ width: progress + '%' }")
    .main__timeline__anchor(draggable, ng-model="progress", data-month="{{ months[today.getMonth()] | translate }}")
      | {{ today.getDate() }}

  .main__weeks
    .main__weeks__legend
      | {{ "new_weekly_cases" | translate }}
    .main__weeks__slot(ng-repeat="week in ::weeks")
      .main__weeks__slot__outline
        .victims-animation(ng-show="progressFilter($index)")
          .main__weeks__slot__outline__victim(ng-repeat="victim in ::week.victims track by $index")
        .clearfix
        .main__weeks__slot__outline__popover(ng-class="{ 'main__weeks__slot__outline__popover--rtl': $index < weeksCount/3 }")
          h4.main__weeks__slot__outline__popover__title
            | {{ week.start | date:('date_format' | translate) }}
            | →
            | {{ week.end | date:('date_format' | translate) }}
          ul.list-unstyled.main__weeks__slot__outline__popover__body
             li(ng-repeat="place in ::week.places | orderBy:'-weekly_new_cases'", ng-show="::popoverFilter(place)")
               em.pull-right &nbsp;{{ place.weekly_new_cases }}
               strong {{ place.code | lowercase | translate }}

