.introduction {
  z-index:@zindex-introduction;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:black;
  color:white;
  overflow:hidden;
  .transition(1.2s);

  &--step-0 { background:black; }
  &--step-1 { background:@menu-bg; }
  &--step-2 { background:@brand-primary; }
  &--step-3 { background:@brand-success; }

  &__step {
    padding:0 40px;
    position:absolute;
    top:50%;
    left:50%;
    font-size:25px;
    text-align:center;
    .translate(-50%,-50%);
    .transition(1.2s);

    &.ng-enter {
      filter: blur(50px);
      opacity:0;
      .translate(100%,-50%);
    }

    &.ng-leave.ng-leave-active {
      filter: blur(50px);
      opacity:0;
      .translate(-100%,-50%);
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
      filter: blur(0);
      opacity:1;
      .translate(-50%,-50%);
    }

    &__next, &__next:hover {
      display:block;
      margin-top:40px;
      color:inherit;
    }
  }
}
